%h1 商品一覧

= form_tag(items_path, method: :get, class: 'form-inline') do
  .form-group
    %label{for: 'keyword'} キーワード
    = search_field_tag :keyword, @keyword, class: 'form-control'
  = submit_tag '検索', class: 'btn btn-default'

.container-fluid#search_results
  .row
    - @items.each do |item|
      .item.col-xs-6.col-lg-4
        %a{href: item.url, target: '_blank'}
          = image_tag item.medium_image_urls[0]['imageUrl'], class: 'img-responsive'
        %h5
          %a{href: item.url, target: '_blank'}= item.name
