%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: "/"} Rakuten Web Service Demo App

.container
  = form_tag(items_path, method: :get, class: 'form') do
    .form-group
      = search_field_tag :keyword, @keyword, class: 'form-control'

    .form-group
      %lavel{ for: :genre_id } Genre
      = select_tag :genre_id, options_from_collection_for_select(@genre.parents + Array(@genre) + @genre.brothers + @genre.children, "id", "name", @genre.id), class: 'form-control'

    = submit_tag 'Search', class: 'btn btn-primary'

  .table-responsible
    %table.table#search_results
      - @items.each do |item|
        %tr
          %td.item_thumb
            %a.thumbnail{ href: item.url, target: '_blank' }
              = image_tag item.medium_image_urls.first, class: 'img-responsive'
          %td
            %h5.item_name
              %a{ href: item.url, target: '_blank' }= item.name
            %p= item.catchcopy

            %i.text-danger.glyphicon.glyphicon-home
            %a{ href: item.shop.url, target: '_blank' }= item.shop.name

            - if item.review_count > 0
              = pluralize(item.review_count, 'review')
          %td
            %p
              %span.h2= item.price
              円
            - if item.postage?
              %span.label.label-danger Free Postage
            - if item.credit_card?
              %span.label.label-danger
                %i.glyphicon.glyphicon-credit-card
